{:server {:host "smtp.example.com"
          :user "somebody@example.com"
          :pass "mypassword"
          :ssl true}
 :identifier "example.com"
 :from "Hello Example <hello@example.com>"
 :buffer-length 10}
